# Challenge: Convert Fahrenheit to Degrees Centigrate

In [16]:
from pyspark.sql import SparkSession 
spark = (SparkSession.builder.appName("RDDChallenge").getOrCreate())

In [17]:
# MY ATTEMPT:

In [18]:
temp_F = [59, 57.2, 53.6, 55.4, 51.8, 53.6, 55.4]
print(temp_F)

[59, 57.2, 53.6, 55.4, 51.8, 53.6, 55.4]

In [19]:
temp_F_rdd = spark.sparkContext.parallelize(temp_F)

In [20]:
temp_C_rdd = temp_F_rdd.map(lambda f: ((f - 32) * 5/9))

In [21]:
for temp_C in temp_C_rdd.collect():
    print(temp_C)

15.0
14.000000000000002
12.0
13.0
10.999999999999998
12.0
13.0

In [22]:
#SOLUTION:

In [23]:
def fahrenheightToCentigrade(temperature):
    centigrade = (temperature - 32) * 5/9
    return centigrade

In [24]:
fahrenheightToCentigrade(59)

15.0

In [25]:
tempFahRDD = temp_F_rdd.map(fahrenheightToCentigrade)
tempFahRDD.collect()

[15.0, 14.000000000000002, 12.0, 13.0, 10.999999999999998, 12.0, 13.0]

In [26]:
# Get all the temperature data points greater than 13 degrees Celsius

In [27]:
filterTempRDD = tempFahRDD.filter(lambda x: x>=13)
filterTempRDD.collect()

[15.0, 14.000000000000002, 13.0, 13.0]

# Challenge: XYZ Research

RDD API - XYZ - Research

Imagine working as a Data Scientist for a company called XYZ Research that performs research on many diversified topics, and each research project comes with a Research ID.

Each Research can be completed within a year and beyond.

Take a look at the data below;

data2001List = ['RIN1', 'RIN2', 'RIN3', 'RIN4', 'RIN5', 'RIN6', 'RIN7']

data2002List = ['RIN3', 'RIN4', 'RIN7', 'RIN8', 'RIN9']

data2003List = ['RIN4', 'RIN8', 'RIN10', 'RIN11', 'RIN12']

The above-mentioned data indicates the number of projects that have been completed over a period of 3 years.

In 2001, there were at least 7 research projects [RIN1 - 7] that were initiated, RIN8 and RIN9 were initiated in 2002, while RIN10, RIN11, and RIN12 were initiated in 2003.

RIN3 also appears in 2002, meaning that the research project has actually spanned over 2 years, RIN4, on the other hand, appears in 2001, 2002, and 2003 which means that the research project spanned over 3 years.

XYZ Research Requires you to examine the data and find answers to the following questions;

1. How many research projects were initiated in the three years?

2. How many projects were completed in the first year?

3. How many projects were completed in the first two years?

In [28]:
data2001List = ['RIN1', 'RIN2', 'RIN3', 'RIN4', 'RIN5', 'RIN6', 'RIN7']
data2002List = ['RIN3', 'RIN4', 'RIN7', 'RIN8', 'RIN9']
data2003List = ['RIN4', 'RIN8', 'RIN10', 'RIN11', 'RIN12']

1) How many research projects were initiated in the three years?

In [30]:
data2001RDD = spark.sparkContext.parallelize(data2001List)
data2002RDD = spark.sparkContext.parallelize(data2002List)
data2003RDD = spark.sparkContext.parallelize(data2003List)

To solve this question, can make this determination by getting the union of all the given data for the 3 yrs.

In [31]:
unionOf20012002RDD = data2001RDD.union(data2002RDD)
unionOf20012002RDD.collect()

['RIN1',
 'RIN2',
 'RIN3',
 'RIN4',
 'RIN5',
 'RIN6',
 'RIN7',
 'RIN3',
 'RIN4',
 'RIN7',
 'RIN8',
 'RIN9']

One more union to add 2003 to the union of 2001 and 2002 above. And make it distinct.

In [35]:
allResearchRDD = unionOf20012002RDD.union(data2003RDD).distinct()
allResearchRDD.collect()

['RIN1',
 'RIN4',
 'RIN9',
 'RIN10',
 'RIN12',
 'RIN2',
 'RIN3',
 'RIN5',
 'RIN8',
 'RIN11',
 'RIN6',
 'RIN7']

In [36]:
allResearchRDD.count()

12

12 research projects were conducted in the 3 years.

2) How many projects were completed in the first year?

When we subtract dataset B from dataset A, that will give us all the elements that are members of dataset A but not dataset B. In our case 2002 data is dataset B and 2001 is dataset A. We need to do A minus B to get research projects that occured in A.

In [38]:
firstYearCompletionRDD = data2001RDD.subtract(data2002RDD)
firstYearCompletionRDD.collect()

['RIN2', 'RIN5', 'RIN6', 'RIN1']

In [39]:
firstYearCompletionRDD.count()

4

4 research projects were completed in te first year.

3) How many projects were completed in the first two years?

In [40]:
unionTwoYearsRDD = data2001RDD.union(data2002RDD)
unionTwoYearsRDD.collect()

['RIN1',
 'RIN2',
 'RIN3',
 'RIN4',
 'RIN5',
 'RIN6',
 'RIN7',
 'RIN3',
 'RIN4',
 'RIN7',
 'RIN8',
 'RIN9']

In [42]:
unionTwoYearsRDD.subtract(data2003RDD).distinct().collect()

['RIN1', 'RIN9', 'RIN2', 'RIN3', 'RIN5', 'RIN6', 'RIN7']

In [43]:
unionTwoYearsRDD.subtract(data2003RDD).distinct().count()

7

7 reasearch projects were ocmpleted in the first two years